body {
  overflow: hidden;
  height: 80vh;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 380px;
  width: 380px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin: 0 auto;
  grid-row-gap: 0px;
}
.box {
  border: 1px solid lightslategrey;
  height: 40px;
  width: 40px;
  padding: 3px;
}

.draw {
  border: 1px solid lightslategray;
  height: 40px;
  width: 40px;
  padding: 3px;
  background-color: black;
}

h1 {
  text-align: center;

  margin-top: -10px;
}
